<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.vegardlandsverk.fish-tags.mounted-volume</string>

        <key>ProgramArguments</key>
        <array>
            <string>/Users/vegardlandsverk/.config/fish/custom_scripts/_les_metadata.py</string>
            <string>external</string>
        </array>

        <key>WatchPaths</key>
        <array>
            <string>/Volumes</string>
        </array>

        <key>StandardOutPath</key>
        <string>/Users/vegardlandsverk/.config/fish/custom_scripts/logs/fish-tags_mounted-volume.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/vegardlandsverk/.config/fish/custom_scripts/logs/fish-tags_mounted-volume.err</string>
    </dict>
</plist>